body {
  background-color: #ffffee;
}

a.anchor {
  position: absolute;
  margin-left: -24px;
}

svg {
  display: inline;
  height: 26px;
  /* TODO: Rewrite auto linking plugin to have a better style definition */
  margin-top: -4px;
  margin-right: 5px;
}

pre[class*="language-"] {
  margin: 0 0 1rem 0;
  font-size: 0.75rem;
  border-radius: 0;
}

.ctrlcv-cheatsheet-code-title {
  display: inline-block;
  background-color: #fdf6e3;
  padding: 3px 0.75rem 2px;
  font-size: 12px;
}


h3 {
  margin-top: 8px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

h3::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,rgba(180, 83, 9, .2),transparent 80%);
}